In [1]:
from synthcity.metrics.eval_sanity import (
    NearestSyntheticNeighborDistance,
)
import dill
from synthcity.plugins.core.dataloader import GenericDataLoader
from pathlib import Path
import pandas as pd
from utils import prepare_adult
from sklearn.impute import SimpleImputer
import pandas as pd
from synthcity.metrics.eval_statistical import ChiSquaredTest

/home/lcorbucci/personalized_explanations/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

[KeOps] Warning : Cuda libraries were not detected on the system or could not be loaded ; using cpu only mode

In [2]:
def get_real_data(dataset_name: str) -> tuple[pd.DataFrame, str]:
    """
    Get the preprocessed real data based on the dataset name. We will use
    these data to train the synthesizer and evaluate the quality of the synthetic data

    Args:
        dataset_name: The name of the dataset to use

    Returns:
        real_data: The preprocessed real data
        outcome_variable: The outcome variable of the dataset

    """
    current_script_path = Path("./")
    match dataset_name:
        case "adult":
            _, _, _, _, _, _, real_data, _ = prepare_adult(sweep=False, seed=42, current_path=current_script_path)
            outcome_variable = "income_binary"
        case _:
            msg = "Invalid dataset name"
            raise ValueError(msg)
    return real_data, outcome_variable

In [3]:
# with Path(f"./artifacts/adult/synthesizer/synthesizer_tvae_1000.pkl").open("rb") as f:
#     synthesizer = dill.load(f)

In [4]:
# generated_dataset_size = 10000
# synthetic_data = synthesizer.sample(num_rows=generated_dataset_size)

real_data, outcome_variable = get_real_data("adult")

In [5]:
# check if "object" type columns are present in the real data
has_object = real_data.select_dtypes(include=["object"]).shape[1] > 0
has_object

True

In [ ]:
missing_values = real_data.isnull().sum()
print(missing_values)

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
sex_binary        0
race_binary       0
age_binary        0
income_binary     0
dtype: int64

In [7]:
# real_data = real_data.apply(pd.to_numeric, errors="coerce")
# synthetic_data = synthetic_data.apply(pd.to_numeric, errors="coerce")

In [8]:
# original_dataloader = GenericDataLoader(data=real_data, target_column=outcome_variable)
# synth_dataloader = GenericDataLoader(data=synthetic_data, target_column=outcome_variable)
# metrics: dict[str, dict[str, float | dict[str, float]]] = {}

In [9]:
# chi_squared_test = ChiSquaredTest()
# chi_squared_test.evaluate(X_gt=original_dataloader, X_syn=synth_dataloader)["marginal"]

In [11]:
# open synthetic data
synthetic_data = pd.read_csv("./artifacts/adult/synthetic_data/synthetic_data_10000_epochs_1000_synthethizer_name_tvae.csv")

In [12]:
missing_values = synthetic_data.isnull().sum()
print(missing_values)

age                   0
workclass         10000
fnlwgt                0
education         10000
education-num         0
marital-status    10000
occupation        10000
relationship      10000
race              10000
sex               10000
capital-gain          0
capital-loss          0
hours-per-week        0
native-country    10000
sex_binary            0
race_binary           0
age_binary            0
income_binary         0
dtype: int64

# Covertype

In [14]:
from datasets import load_dataset
import pandas as pd

In [27]:
dataset = load_dataset("mstz/house16", "house16")["train"]

In [28]:
df = pd.DataFrame(dataset)

In [29]:
df.head()

,P1,P5p1,P6p2,P11p4,P14p9,P15p1,P15p3,P16p2,P18p2,P27p4,H2p2,H8p2,H10p1,H13p1,H18pA,H40p4,class
0,15512,0.460869,0.049252,0.226470,0.149827,0.752837,0.010057,0.579729,0.003251,0.075912,0.625318,0.036613,0.991377,0.260116,0.052246,0.774059,0
1,1550,0.470968,0.002581,0.137419,0.096342,0.862581,0.000000,0.695142,0.005025,0.043551,0.064263,0.003350,0.994975,0.285267,0.060606,0.142857,1
2,4741,0.485341,0.000211,0.189412,0.135656,0.856992,0.000000,0.683584,0.004143,0.027965,0.065796,0.000000,0.997411,0.315433,0.065116,0.687500,1
3,467,0.498929,0.000000,0.100642,0.085470,0.907923,0.000000,0.780488,0.006098,0.018293,0.057471,0.000000,1.000000,0.149425,0.139535,1.000000,1
4,310,0.474194,0.680645,0.225807,0.128834,0.896774,0.000000,0.756303,0.008403,0.016807,0.077519,0.672269,0.991597,0.147287,0.000000,0.000000,1

In [30]:
# extract the categorical features from df
categorical_features = df.select_dtypes(include=["object"]).columns.tolist()

In [31]:
categorical_features

[]

In [32]:
class_names = df["letter"].unique().tolist()
class_names

KeyError: 'letter'